.btn {
    @include no-btn;
    height: 44px;
    line-height: 58px;
    padding: 0 10px;
    min-width: 171px;
    text-align: center;
    background: #1B7DFF;
    color: currentColor;
    text-transform: uppercase;
    transition: color 0.25s ease-out 0s, background 0.25s ease-out 0s;
    font: inherit;

    &:hover {
        background: #fff;
        color: #1B7DFF;
    }
}
