html,
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font: bold 14px "PT Sans Narrow", sans-serif;
  background: #000 url("/img/bg__main.jpg") no-repeat 50% 0;
  color: #fff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  display: block;
  width: 140px;
  height: 44px;
  margin: 0 auto;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #000;
}

.layout-center-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  background: #000;
}

.main-menu {
  float: left;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0px;
}

.main-menu__list li {
  display: inline-block;
  vertical-align: top;
}

.main-menu__link {
  display: block;
  padding: 27px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.main-menu__link:hover {
  background: #242424;
  color: #fff;
}

.main-menu__link_current {
  box-shadow: 0 25px 0 -20px #fff;
}

.main-menu__link_current:hover {
  background: #000;
}

.account {
  float: right;
}

.account__link {
  display: block;
  padding: 27px 0 27px 35px;
  text-decoration: none;
  font-size: 16px;
  background: #000 url("img/icon__cart.png") no-repeat 0 50%;
  color: #fff;
}

.account__link:hover {
  background-image: url("img/icon__cart_active.png");
  color: #fff;
}

.logo {
  display: block;
  margin: 70px auto 0;
}

.features {
  margin: 22px 0 80px;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.features__item {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
  vertical-align: top;
  text-align: center;
}

.features__item_last {
  margin-right: 0;
}

.features__item h2 {
  position: relative;
  margin: 0 0 80px;
  font-size: 30px;
}

.features__item h2:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  background: #000 url("img/icon__diamond.png") no-repeat 0 0;
}

.features__item p {
  margin-bottom: 0;
  line-height: 24px;
  font-size: 14px;
}

.layout-index-info__wrapper {
  margin-top: 34px;
  padding: 50px 80px;
  background: #fff url("img/bg__pattern.png");
  color: #000;
}

.layout-index-info__letf-column {
  float: left;
  width: 394px;
  background: url("img/border.png") no-repeat 100% 50%;
}

.layout-index-info__right-column {
  float: right;
  width: 296px;
  padding-left: 90px;
}

.layout-index-info__wrapper h2 {
  margin: 0;
  font-size: 30px;
}

.news__list {
  margin: 0 90px 0 0;
  padding: 0;
  list-style: none;
}

.news__list li {
  margin-top: 28px;
  line-height: 24px;
}

.news__list a,
.news__list a:hover {
  text-decoration: none;
  color: #000;
}

.news__list time {
  text-transform: lowercase;
  font: italic 14px "Georgia", serif;
}

.news__btn {
  margin: 28px 0 0;
}

.gallery__slide__1 {
  display: block;
  margin-top: 38px;
  border: 6px solid #fff;
}

.gallery__slide__2,
.gallery__slide__3,
.gallery__slide__4 {
  display: none;
}

.gallery__paginator {
  margin-top: 38px;
}

.gallery__btn_prev {
  display: inline-block;
}

.gallery__btn_next {
  display: inline-block;
  margin-left: 13px;
}

.main-contacts {
  margin: 28px 0 0;
  font-style: normal;
}
.main-contacts p {
  margin: 0;
  line-height: 24px;
}

.main-contacts__btn-container {
  margin: 28px 0 0;
}
.main-contacts__btn {
  display: inline-block;
}

.main-contacts__btn_to-map {
  margin-right: 13px;
}

.booking-info {
  margin: 28px 0 0;
}

.input__container {
  margin: 20px 0 0;
  padding: 0;
  border: 0;
}

input {
  display: inline-block;
  width: 126px;
  height: 40px;
  padding-left: 10px;
  border: 2px solid #000;
  text-transform: uppercase;
  font: bold 14px "PT Sans Narrow", sans-serif;
}

#input__date,
#input__name {
  margin-right: 11px;
}

input[type="submit"] {
  width: 296px;
  margin: 36px 0 0;
  border: none;
}

.main-footer {
  margin-top: 65px;
  padding: 62px 0 60px;
  background: #000 url("img/bg__footer.png");
  color: #fff;
}

.footer-contacts {
  float: left;
  width: 312px;
}

.footer-contacts p {
  margin: 5px 0;
}

.social {
  float: left;
  width: 312px;
  text-align: center;
}

.social__head {
  margin: 0 0 10px;
  text-align: center;
}

.social .btn {
  display: inline-block;
  vertical-align: top;
  width: 44px;
  margin-right: 4px;
  background-image: url("img/icon__social.png");
  background-repeat: no-repeat;
}

.social__btn_vk {
  background-position: 0 -52px;
}

.social__btn_vk:hover {
  background-position: 0 0;
}

.social__btn_fb {
  background-position: -48px -52px;
}

.social__btn_fb:hover {
  background-position: -48px 0;
}

.social__btn_ig {
  margin-right: 0;
  background-position: -98px -52px;
}

.social__btn_ig:hover {
  background-position: -98px 0;
}

.copyright {
  float: right;
  width: 312px;
  text-align: center;
}

.copyright__head {
  display: block;
  margin: 0 0 10px;
  text-align: center;
}
