.header {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 56px;
        padding-bottom: 56px;
    }
}
