.hero {
    color: #fff;
    background-color: #354267;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%),
        url("../img/hero-bg.jpg");
    background-size: cover;
    display: flex;
    min-height: 900px;
    padding: 200px 0 400px;

    @media (max-width: $tablet) {
        padding-top: 60px;
    }

    &__title {
        font-size: 50px;
        line-height: 1.2em;
        max-width: 620px;

        @media (max-width: $tablet) {
            font-size: 40px;
        }
    }

    &__text {
        max-width: 550px;
        margin-bottom: 59px;
    }

    &__form {
        display: flex;
        align-items: flex-end;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }

        @media (max-width: $phone-max) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__group {
        max-width: 297px;
        width: 33.5%;
        margin-right: 7%;
        margin-bottom: 40px;

        @media (max-width: $tablet) {
            width: 43%;
        }

        @media (max-width: $phone-max) {
            margin-right: 0;
            width: 100%;
        }
    }

    &__btn {
        margin-bottom: 40px;

        @media (max-width: $phone-max) {
            margin-right: 0;
            width: 100%;
        }
    }
}
