.inspired {
    &__header {
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__list {
        @include no-list;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        margin-bottom: 15px;

        width: 33%;
        overflow: hidden;

        @media (max-width: $tablet) {
            width: 100%;
        }

        &:nth-child(1),
        &:nth-child(2) {
            width: 49%;

        @media (max-width: $tablet) {
            width: 100%;
        }

            .inspired__img {
                min-height: 354px;
            }
        }
    }

    &__img {
        margin: 0;
        max-width: 100%;
        height: 283px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;

        }
    }

    &__subtitle {
        position: absolute;
        bottom: 27px;
        left: 29px;
        font-size: 50px;
        line-height: 60px;
        color: #fff;

        @media (max-width: $tablet) {

        }
    }

    &__link {
        display: block;
        margin: 20px 0;
    }
}
