.places {
    padding: 40px 0 86px;
    &__list {
        @include no-list;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.place {
    max-width: 32%;
    margin-bottom: 58px;

    @media (max-width: $pad) {
        max-width: 48%;
    }

    @media (max-width: $tablet) {
        max-width: 100%;
    }

    &__tile {
        display: flex;
        flex-direction: column;
        min-height: 377px;
        overflow: hidden;
        position: relative;
    }

    &__img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__header {
        background-color: rgba(#151824, 0.6);
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: auto;
        padding: 15px 25px;
        position: relative;
        line-height: 24px;

    }

    &__title {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: auto;
        text-transform: uppercase;
        max-width: 60%;
    }

    &__text {
        font-weight: 400;
        margin-bottom: 31px;
    }

    &__socials {
        display: flex;
    }

    &__likes {
        white-space: nowrap;
        margin-right: 14px;

        > span {
            margin-right: 4px;
        }

        > img {
            position: relative;
            top: 2px;
        }
    }

    &__comments {
        white-space: nowrap;

        > span {
            margin-right: 9px;
        }

        > img {
            position: relative;
            top: 2px;
        }
    }
}
