*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    margin: 0;
}

body {
    font: $font-base;
    color: #000;
    margin: 0;
    height: 100%;
    min-height: 100%;
    text-transform: uppercase;
}

/*.svg-wrapper {
    @include visuallyhidden;
}*/

.container {
    margin: 0 auto;
    max-width: 1282px;
    padding: 0 20px;
    width: 100%;

    &--narrow {
        max-width: 1100px;
    }
}
