*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  margin: 0;
  /*    height: 100%;
    min-height: 100%;*/
}

body {
  font: $font-base;
  color: #000;
  margin: 0;
  /*    height: 100%;
    min-height: 100%;*/
  text-transform: uppercase;
}

.svg-wrapper {
  @include visuallyhidden;
}

.wrapper {
  background: rgba(#000, 0.8) url("../img/bg-main.jpg") no-repeat 50% 0;
  background-size: cover;
  min-width: 320px;
  /*    height: 100%;
    min-height: 100%;*/
  display: flex;
  flex-flow: column nowrap;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 20px;
  width: 100%;
}

.section-wrapper {
  background: #f7f4f1 url("../img/bg-section.png");
  display: flex;
  margin: 30px auto;
  position: relative;
  justify-content: space-between;
  padding: 36px 80px;

  @media (max-width: 900px) {
    align-items: center;
    flex-direction: column;
    padding: 25px 40px;
  }

  @media (max-width: 480px) {
    align-items: center;
    flex-direction: column;
    padding: 15px 20px;
  }

  &::after {
    content: "";
    background: url("../img/border-section.png") 50% 50% no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 8px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__col {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;

    @media (max-width: 900px) {
      margin-bottom: 80px;
      width: 100%;
    }

    @media (max-width: 480px) {
      margin-bottom: 40px;
      padding-bottom: 0;
    }
  }

  &__btn {
    margin-top: auto;

    @media (max-width: 480px) {
      position: relative;
    }
  }
}
